.btn {
    display: block;
    font-family: $font3;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 15px 67px 15px 30px;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: fit-content;
    cursor: pointer;
    &.primary{
        background-color: $color1;
        color: $color2 !important;
        span{
            color: $color2 !important;
        }
        svg{
            path{
                fill: $color2;
            }
        }
        &::before{
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.3285 4.79168C9.37524 4.79168 9.39865 4.73517 9.3656 4.70212L6.15646 1.49298C5.87988 1.2164 5.87988 0.767972 6.15646 0.491392V0.491392C6.43304 0.214813 6.88146 0.214813 7.15804 0.491392L11.6658 4.99916C11.9424 5.27578 11.9424 5.72426 11.6658 6.00087L7.15804 10.5086C6.88146 10.7852 6.43304 10.7852 6.15646 10.5086V10.5086C5.87988 10.2321 5.87988 9.78364 6.15646 9.50706L9.3656 6.29792C9.39865 6.26486 9.37525 6.20835 9.3285 6.20835H1.54167C1.15047 6.20835 0.833334 5.89122 0.833334 5.50002V5.50002C0.833334 5.10882 1.15047 4.79168 1.54167 4.79168H9.3285Z' fill='%23DFFD35'/%3E%3C/svg%3E%0A");
        }
    }
    &.secondary{
        background-color: $color2;
        color: $color1 !important;
        span{
            color: $color1 !important;
        }
        svg{
            path{
                fill: $color1;
            }
        }
        &::before{
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.32866 4.79156C9.37541 4.79156 9.39882 4.73505 9.36576 4.702L6.15662 1.49285C5.88004 1.21627 5.88004 0.76785 6.15662 0.49127C6.4332 0.21469 6.88162 0.214691 7.1582 0.49127L11.666 4.99904C11.9426 5.27565 11.9426 5.72414 11.666 6.00075L7.1582 10.5085C6.88162 10.7851 6.4332 10.7851 6.15662 10.5085C5.88004 10.2319 5.88004 9.78352 6.15662 9.50694L9.36576 6.29779C9.39882 6.26474 9.37541 6.20823 9.32866 6.20823H1.54183C1.15063 6.20823 0.833496 5.8911 0.833496 5.4999C0.833496 5.10869 1.15063 4.79156 1.54183 4.79156H9.32866Z' fill='%23D9D9D9' fill-opacity='0.2'/%3E%3Cpath d='M9.32866 4.79156C9.37541 4.79156 9.39882 4.73505 9.36576 4.702L6.15662 1.49285C5.88004 1.21627 5.88004 0.76785 6.15662 0.49127C6.4332 0.21469 6.88162 0.214691 7.1582 0.49127L11.666 4.99904C11.9426 5.27565 11.9426 5.72414 11.666 6.00075L7.1582 10.5085C6.88162 10.7851 6.4332 10.7851 6.15662 10.5085C5.88004 10.2319 5.88004 9.78352 6.15662 9.50694L9.36576 6.29779C9.39882 6.26474 9.37541 6.20823 9.32866 6.20823H1.54183C1.15063 6.20823 0.833496 5.8911 0.833496 5.4999C0.833496 5.10869 1.15063 4.79156 1.54183 4.79156H9.32866Z' fill='%23002E4D'/%3E%3C/svg%3E%0A");
        }
    }
    svg{
        stroke-dasharray: 69.1;
        stroke-dashoffset: 69.1;
        position: absolute;
        width: 22px;
        height: 22px;
        top: 50%;
        right: 30px;
        transform: translateY(-50%) rotate(180deg);
        z-index: 0;
        background-color: transparent;
        transition: all .3s ease;
    }
    span{
        display: block;
        font-family: $font3;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
    &::before{
        content: "";
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        right: 36px;
        transform: translateY(-50%);
        width: 11px;
        height: 11px;
        position: absolute;
    }

    &:hover{
        svg{
            // stroke-dasharray: 0;
            stroke-dashoffset: 0;
        }
    }
}