.lp-accordion{
    overflow: hidden;
    
    .container{
        display: flex;
        justify-content: space-between;
        transition: all 1s ease-in-out;
        align-items: flex-end;
        @media screen and (max-width:$size1) {
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width:$size4) {
            align-items: flex-start;
            padding: 0px 20px;
        }
        .left{
            max-width: 500px;
            transition: all 1s ease-in-out;
            @media screen and (max-width:$size1) {
                margin-bottom: 60px;
                max-width: 100%;
            }
            h2{

            }
            .description{
                max-width: 445px;
                margin-bottom: 60px;
            }
            .accordion{
                background: #F5F5F5;
                border-radius: 5px;
                padding: 20px 30px;
                margin-bottom: 15px;
                cursor: pointer;
                &.active{
                    .accordion-top{
                        &::after{
                            transform: translateY(-50%) rotateX(180deg);
                        }
                    }
                }
                &-top{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        inset: 50% 2px auto auto;
                        transform: translateY(-50%) rotateX(0deg);
                        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_205_5905)'%3E%3Cpath d='M14.7054 16.1704C14.8682 16.3331 15.132 16.3331 15.2947 16.1704L20.3038 11.1612C20.7919 10.6732 21.5832 10.6732 22.0713 11.1612C22.5594 11.6493 22.5594 12.4407 22.0713 12.9287L16.0377 18.9624C15.4646 19.5354 14.5355 19.5354 13.9625 18.9624L7.92883 12.9287C7.44075 12.4407 7.44075 11.6493 7.92883 11.1612C8.41691 10.6732 9.20824 10.6732 9.69633 11.1612L14.7054 16.1704Z' fill='%23002E4D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_205_5905'%3E%3Crect width='30' height='30' fill='white' transform='translate(30) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 30px;
                        transition: all .3s ease-in-out;
                        @media screen and (max-width:$size1) {
                            inset: 50% -15px auto auto;
                        }
                    }
                    .accordion-picto{
                        width: 40px;
                        height: 40px;
                        margin-right: 15px;
                        @media screen and (max-width:$size1) {
                            width: 25px;
                            height: 25px;
                        }
                    }
                    h3{
                        @media screen and (max-width:$size4) {
                            max-width: 220px;

                        }
                    }

                }
                &-content{

                    overflow: hidden;
                    transition: all .3s ease-in-out;
                }
                .embeded-picture{
                    width: 100%;
                    display: none;
                    border-radius: 5px;
                    margin-top: 30px;
                    @media screen and (max-width:$size1) {
                        display: block;
                    }
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }
            }
        }
        .right{
            max-width: 445px;
            width: 100%;
            border-radius: 10px;
            height: fit-content;
            transition: all 1s ease-in-out;
            position: relative;
            @media screen and (max-width:$size1) {
                max-width: 100%;
            }
            .embeded-picture-right{
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                inset: 0;
                transition: .3s ease-in-out;

                &.active{
                    opacity: 1;
                    position: static;
                }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                @media screen and (max-width:$size1) {
                    display: none;
                }
            }
            
            &.swiper-style{
                max-width: 525px;
                width: 100%;
                padding: 60px 0px 240px 0px !important;
                position: relative;
                display: flex;
                justify-content: space-between;
                background-color: #002E4D;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10.5C8 9.11929 9.11929 8 10.5 8C11.8807 8 13 9.11929 13 10.5C13 11.8807 11.8807 13 10.5 13C9.11929 13 8 11.8807 8 10.5Z' fill='%237B92A1'/%3E%3C/svg%3E%0A");
                background-repeat: repeat;
                background-size: auto;
                background-position: center;
                position: relative;
                z-index: 0;
                @media screen and (max-width:$size1) {
                    width: 445px;
                    margin-left: 0px;
                    padding: 35px 0px 140px 0px !important;
                }
                @media screen and (max-width:$size3) {
                    width:100%;
                    overflow: hidden;
                }
                &::after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    background: rgb(0,46,77);
                    background: linear-gradient(34deg, rgba(0,46,77,1) 0%, rgba(0,46,77,1) 75%, rgba(0,46,77,0) 100%);
                    z-index: 1;
                    border-radius: 10px;
                }

                .accordion-swiper-navigation{
                    position: absolute;
                    z-index: 2;
                    bottom: 60px;
                    width: 100%;
                    height: 40px;
                    padding: 0px 66px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media screen and (max-width:$size4) {
                        width: 280px;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 0 30px;
                    }
                    &-prev{
                        cursor: pointer;
                    }
                    &-next{
                        cursor: pointer;
                    }
                    svg{
                        cursor: pointer;
                        &:hover{
                            circle{
                                fill:$color2;
                            }
                            path{
                                fill:$color1;
                            }
                        }
                        circle,path{
                            transition: 0.5s;
                        }
                    }
                    .accordion-swiper-pagination{

                        display: flex;
                        z-index: 3;
                        width: fit-content;
                        transition: all 1s ease-in-out;
                        .swiper-pagination-bullet{
                            width: 14px;
                            height: 14px;
                            background: #004879;
                            border-radius: 50%;
                            opacity: 1;
                            transition: all .5s ease-in;
                            &-active{
                                background: #DFFD35;
                                opacity: 1;
                            }
                        }  
                    }
                }
                
                .accordion-swiper{
                    position: relative;
                    width: 255px;
                    margin-left: -65px;
                    z-index: 2;
                    @media screen and (max-width:$size1) {
                        margin: 0 auto;
                    }
                    @media screen and (max-width:$size3) {
                        overflow: hidden;
                    }
                    .swiper-wrapper{
                        .swiper-slide{
                            background: #FFFFFF;
                            box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
                            border-radius: 5px;
                            max-width: 255px;
                            width: 255px;
                            transition: all .5s ease-in-out;
                            opacity: 0;
                            .slide-image{
                                height: 165px;
                                width: 100%;
                                overflow: hidden;
                                border-radius: 5px 5px 0 0;
                                img{
                                    height: 100%;
                                    width: auto;
                                    object-fit: cover;
                                }
                            }
                            .slide-content{
                                padding: 30px;
                                .name{
                                    margin-bottom: 10px;
                                }
                                .slide-picto-role{
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 30px;
                                    img{
                                        display: block;
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 4px;
                                        margin-right: 10px;
                                    }
                                    p{
                                        font-family: $font3;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 15px;
                                        line-height: 150%;
                                    }
                                }
                                .slide_text{
                                    font-family: $font3;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 150%;
                                    margin-bottom: 5px;
                                }
                                img{
                                    max-height: 40px;
                                    width: auto;
                                    display: block;
                                }
                            }
                            &:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev){
                                transform: translate3d(400px, 90px, 0px) !important;
                                @media screen and (max-width:$size1) {
                                    transform: translate3d(300px, 20px, 0px) !important;
                                }
                            }
                            &-active{
                                opacity: 1;
                            }
                        }
                    }
                } 
            }
        }
    }
}