.banner-cta{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10.5C8 9.11929 9.11929 8 10.5 8C11.8807 8 13 9.11929 13 10.5C13 11.8807 11.8807 13 10.5 13C9.11929 13 8 11.8807 8 10.5Z' fill='%237B92A1'/%3E%3C/svg%3E%0A");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    position: relative;
    z-index: 0;
    @media screen and (max-width:$size2) {
        padding-top: 0px !important;
        padding-bottom: 90px !important;
    }
    @media screen and (max-width:$size4) {
        background-image: none;
    }
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgb(255,255,255);
        background: linear-gradient(310deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,1) 27%);
        z-index: 1;
    }
    @media screen and (max-width:$size1) {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container{
        display: flex;
        background-color: #002E4D;
        border-radius: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10.5C8 9.11929 9.11929 8 10.5 8C11.8807 8 13 9.11929 13 10.5C13 11.8807 11.8807 13 10.5 13C9.11929 13 8 11.8807 8 10.5Z' fill='%237B92A1'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        background-size: auto;
        background-position: center;
        position: relative;
        overflow: hidden;
        z-index: 2;
        @media screen and (max-width:$size1) {
            flex-direction: column-reverse;
            align-items: center;
            width: fit-content;
        }
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background: rgb(0,46,77);
            background: linear-gradient(315deg, rgba(0,46,77,1) 0%, rgba(0,46,77,1) 68%, rgba(0,46,77,0.2) 100%);
            z-index: 2;
            @media screen and (max-width:$size1) {
                background: linear-gradient(230deg, rgba(0,46,77,1) 0%, rgba(0,46,77,1) 68%, rgba(0,46,77,0.2) 100%);
            }
        }
        .left{
            width: 100%;
            padding-right: 40px;
            position: relative;
            z-index: 3;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            @media screen and (max-width:$size1) {
                padding-right: 0px;
                width: fit-content;
            }
            .banner-picture{
                width: 420px;
                max-height: 90%;
                display: flex;
                align-items: flex-end;
                @media screen and (max-width:$size1) {
                    width: 315px;
                }
                img{
                    width: 100%;
                    display: block;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
        .right{
            position: relative;
            z-index: 3;
            max-width: 540px;
            width: 100%;
            padding: 60px 60px 60px 0px;
            @media screen and (max-width:$size1) {
                padding: 20px 20px 0px 20px;
                margin-bottom: 5px;
            }
            .banner-text-content{
                margin-bottom: 30px;
            }
            .btn.secondary{
                display: block;
            }
        }
    }
}