@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro');
// COLORS
$text-color1: #002E4D;
$text-color2: #FFFFFF;
$text-color3: #7B92A1;
$color1: #002E4D;
$color2: #DFFD35;
$color3: #F5F5F5;
$color4: #004879;
$color5: #FF2A00;
$color6: #7B92A1;

//FONTS
$font1: 'DM Sans', sans-serif;
$font2: 'Philosopher', sans-serif;
$font3: 'Avenir Next';

//SIZES BREAKPOINT
$size1: 1140px;
$size2: 1080px;
$size3: 768px;
$size4: 640px;
$size5: 480px;
