<section id="{{module.module_identity}}"
class="lp-compare {% if module.content_style.padding_choice == 'classic' %}{% if module.content_style.section_type != 'none' %} section-{{ module.content_style.section_type }}{% endif %}{% if module.content_style.padding_top == false %} pt-0{% endif %}{% if module.content_style.padding_bottom == false %} pb-0{% endif %}{% endif %}"
{% if module.content_style.padding_choice == 'custom' %} style="padding-top: {{ module.content_style.custom_padding_top }}px; padding-bottom: {{ module.content_style.custom_padding_bottom }}px;"{% endif %}>
    <div class="container">
        <div class="left">
            <h2 class="title">{{module.left.title}}</h2>
            <p class="description">{{module.left.description}}</p>
            <a href="{{module.left.cta_link.url.href}}" class="btn primary">
                <span>{{module.left.cta_label}}</span>
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="11" cy="11" r="10.5" stroke="#DEFC36"/>
                </svg>    
            </a>
        </div>
        <div class="right">
            <div class="first-column"> 
                <div class="select-container">
                    <div class="select-value">
                        <h4>Select an option</h4>
                    </div>
                    <div class="select-dropdown">
                        {% for item in module.right.static_data %}
                            <div class="select-option" data-index={{loop.index0}}>
                                <h4>{{item.category_title}}</h4>
                                <p>{{item.category_label}}</p>
                            </div>
                        {% endfor %}
                    </div>
                  </div>
                  
                {% for item in module.right.static_data %}
                    <div class="first-column-item">
                        <h4>{{item.category_title}}</h4>
                        <p>{{item.category_label}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="second-column">
                <figure class="second-column-logo">
                    <img src="{{module.right.quincy_column_logo.src}}" alt="{{module.right.quincy_column_logo.alt}}">
                </figure>
                {% for item in module.right.static_data %}
                    <div class="value-wrapper {% if loop.index0 == 0 %}active{% endif %}" data-index={{loop.index0}}>
                        <h4 class="quincy-value">{{item.quincy_value}}</h4>
                    </div>
                {% endfor %}
            </div>
            <div class="third-column lp-compare-swiper">
                <div class="lp-compare-swiper-navigation">
                    <svg class="lp-compare-swiper-navigation-prev" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10.5" r="10" transform="rotate(-180 10 10.5)" fill="#D9D9D9" fill-opacity="0.2"/>
                        <circle cx="10" cy="10.5" r="10" transform="rotate(-180 10 10.5)" fill="#002E4D"/>
                        <g clip-path="url(#clip0_205_4703)">
                        <path d="M9.4149 10.3527C9.33354 10.4341 9.33354 10.566 9.4149 10.6474L11.9195 13.1519C12.1635 13.396 12.1635 13.7916 11.9195 14.0357C11.6754 14.2797 11.2797 14.2797 11.0357 14.0357L8.01888 11.0188C7.73236 10.7323 7.73236 10.2678 8.01888 9.98123L11.0357 6.96441C11.2797 6.72037 11.6754 6.72037 11.9195 6.96441C12.1635 7.20845 12.1635 7.60412 11.9195 7.84816L9.4149 10.3527Z" fill="#DFFD35"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_205_4703">
                        <rect width="15" height="15" fill="white" transform="translate(17.5 18) rotate(-180)"/>
                        </clipPath>
                        </defs>
                    </svg>   
                    <svg class="lp-compare-swiper-navigation-next" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10.5" r="10" fill="#D9D9D9" fill-opacity="0.2"/>
                        <circle cx="10" cy="10.5" r="10" fill="#002E4D"/>
                        <g clip-path="url(#clip0_205_4709)">
                        <path d="M10.5851 10.6473C10.6665 10.5659 10.6665 10.434 10.5851 10.3526L8.08055 7.84809C7.83651 7.60404 7.83651 7.20838 8.08055 6.96434C8.32459 6.7203 8.72026 6.7203 8.9643 6.96434L11.9811 9.98116C12.2676 10.2677 12.2676 10.7322 11.9811 11.0188L8.9643 14.0356C8.72026 14.2796 8.32459 14.2796 8.08055 14.0356C7.83651 13.7915 7.83651 13.3959 8.08055 13.1518L10.5851 10.6473Z" fill="#DFFD35"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_205_4709">
                        <rect width="15" height="15" fill="white" transform="translate(2.5 3)"/>
                        </clipPath>
                        </defs>
                    </svg>    
                </div>
                <div class="swiper-wrapper">
                    {% for item in module.right.swiper_content %}
                        <div class="swiper-slide">
                            <h4 class="slide-title">{{item.company}}</h4>
                            {% for item_values in item.values %}
                                <p class="competitor-value {% if loop.index0 == 0 %}active{% endif %}" data-index={{loop.index0}}>{{item_values.value}}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>